## DJANGO-ADMIN ##

DJANGO_SUPERUSER_USERNAME="Username"
DJANGO_SUPERUSER_PASSWORD="Password"
DJANGO_SUPERUSER_EMAIL="example@example.example"

## POSTGRE-SQL ##

POSTGRES_PASSWORD="Password"
POSTGRES_USER="Username"
POSTGRES_DB="Database_name"